#modal-imagemanager{ z-index: 999999; }
#modal-imagemanager .modal-header h4{ margin: 0; }
#modal-imagemanager iframe{ border: none; width: 100%; min-height: 500px; }
.btn.hide{display:none}
.input-group-addon.btn, .input-group-addon.btn:before{margin-right:0; border-radius:0}
.image-wrapper .form-control{height:40px}
.image-manager-input .image-wrapper{ border: 1px solid #ddd; border-radius:0; text-align:center; display: inline-block; padding: 4px; background: #FFF; }
.image-manager-input .image-wrapper .img-preview{ background: #dadada; max-width: 100%; max-height: 200px; height: 100%; line-height: 1.42857; }