/*CSS for module*/
#module-imagemanager{ padding-left: 0; padding-right: 0; }
#module-imagemanager > .row{ margin: 0; }
#module-imagemanager.tinymce,
#module-imagemanager.ckeditor{ padding: 15px; }

/*overview*/
#module-imagemanager > .row .col-overview{ padding-left: 0; padding-right: 0; border-right: 1px solid #ddd; height: 100%; overflow: auto; }
#module-imagemanager > .row .col-overview .item-overview{ max-height: 500px; overflow: auto; }
#module-imagemanager > .row .col-overview .item-overview .item{ position: relative; overflow: hidden; width: 128px; height: 128px; cursor: pointer; }
#module-imagemanager > .row .col-overview .item-overview .item.selected{ background: #00ac24; }
#module-imagemanager > .row .col-overview .item-overview .item .thumbnail{ margin-bottom: 0; }
#module-imagemanager > .row .col-overview .item-overview .item .thumbnail img{ max-height: 118px; background: #dadada; }
#module-imagemanager > .row .col-overview .item-overview .item .thumbnail .filename{ background-color: rgba(255, 255, 255, 0.9); position: absolute; bottom: 4px; left: 4px; right: 4px; max-height: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 0 10px; }
/*edit column*/
#module-imagemanager > .row .col-image-editor{ padding-left: 0; display: none; }
/*cropper*/
#module-imagemanager > .row .col-image-editor .image-cropper .image-wrapper{ max-height: 460px; }
#module-imagemanager > .row .col-image-editor .image-cropper .image-wrapper img#image-cropper{ max-width: 100%; }
/*options*/
#module-imagemanager > .row .col-options{ padding-right: 0; }
/*File upload*/
#module-imagemanager > .row .col-options .file-input .form-control{ display: none; }
#module-imagemanager > .row .col-options .form-group .file-input .input-group,
#module-imagemanager > .row .col-options .form-group .file-input .input-group .input-group-btn{ float: left; }
#module-imagemanager > .row .col-options .form-group .btn-add-flyleaf{ float: left; }
/*details*/
#module-imagemanager > .row .col-options .image-info{ margin-top: 10px; }
#module-imagemanager > .row .col-options .image-info .thumbnail{ margin-bottom: 10px; }
#module-imagemanager > .row .col-options .image-info .thumbnail img{ max-width: 100%; background: #dadada; }
#module-imagemanager > .row .col-options .image-info .edit-buttons{ margin-bottom: 10px; }
#module-imagemanager > .row .col-options .image-info .details{}
#module-imagemanager > .row .col-options .image-info .details .fileName{ font-weight: bold; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#module-imagemanager > .row .col-options .image-info .pick-image-item{ margin-top: 10px; }

#module-imagemanager a.delete-image-item { margin-top: 5px; }